*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --textColor : rgb(255, 255, 255);
}
.navbar{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 5rem;
    background-color: #6F6AF7;
    align-items: center;
    color: var(--textColor);
}
h2{
    font-family: Delius Unicase;
    font-size: 3rem;
}
.navlist{
    font-family: DM Sans;
    font-size: 2rem;
    font-weight: 400;
    line-height: 47px;
    display: flex;
    list-style: none;
    width: 65%;
    justify-content: space-between;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
}
input{
    height: 2rem;
    width: 12rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1rem;
    padding-left: 1rem;
    border-right: none;
    border: none;
}
.searchIcon{
    background-color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    padding-top: 6px;
    height: 32px;
    width: 20px;
}
.menubar{
    width: 45px;
}

.Vector{
    height: 8px;
    margin-bottom: 4px;
    margin-left: 2px;
}
.more{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1{
    width: 82rem;
    height: 20rem;
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
}

img{
    height: 100%;
    width: 25%;
}
.text{
    height: 100%;
    width: 70%;
    background-color:#E5D8FF ;
    border-radius: 20px;

    color: #6F7373;
    font-family: DM Sans;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 52px;
}
.Btext{
    margin-left: 2.5rem;
    margin-top: 1rem;
}
/* .SmediaIcon{
    position: sticky;
    float: right;
    gap: 10px;
    

}
.chatbot{
    position: fixed;
    right: 6rem;
    bottom: 3rem;
    width: 120px;
    height: 120px;
}
.SIcon{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    border-radius: 10px;
} */
