*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    

/* font-family: 'Inter', sans-serif; */
}

body {
    overflow-x: hidden;
}

:root{
    --textColor : rgb(255, 255, 255);
}

.navbar{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 5rem;
    background-color: #6F6AF7;
    align-items: center;
    color: var(--textColor);
    position: sticky;
    top: 0;
}

h2{
    font-family: Delius Unicase;
    font-size: 3rem;
}

.navlist{
    font-family: 'DM Sans', sans-serif;
    line-height: 47px;
    font-size: 2rem;

    display: flex;
    list-style: none;
    width: 65%;
    justify-content: space-between;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
}
input{
    height: 2rem;
    width: 12rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1rem;
    padding-left: 1rem;
    border-right: none;
    border: none;
}
.searchIcon{
    background-color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    padding-top: 6px;
    height: 32px;
    width: 20px;
}
.menubar{
    width: 45px;
}

.Vector{
    height: 8px;
    margin-bottom: 4px;
    margin-left: 2px;
}
.more{
    display: flex;
    justify-content: center;
    align-items: center;
}


.SmediaIcon{
    position: sticky;
    float: right;
    top: 9rem;
    margin-top: 10rem;
}
.SIcon{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    border-radius: 10px;
    padding: 10px;
   margin-bottom: 5px;
}


.section1{
    width: 82rem;
    height: 21rem;
    margin: 5rem 0 5rem 6.5rem;
    display: flex;
    justify-content: space-between;
}

img{
    height: 100%;
    width: 25%;
}
.text{
    height: 100%;
    width: 70%;
    background-color:#E5D8FF ;
    border-radius: 20px;

    color: #6F7373;
    font-family: DM Sans;
    font-weight: ;
    font-size: 1.7rem;
    line-height: 52px;
}
.Btext{
    margin-left: 2.5rem;
    margin-top: 1rem;
}


.chatbot{
    position: fixed;
    right: 6rem;
    bottom: 1rem;
    width: 5rem;
    height: 5rem;
    z-index: 1;
    background-color: var(--textColor);
    border-radius: 50%;
    padding: 10px;
}


.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 83rem;
    height: 7rem;
    margin: 6rem auto;
}
.number{
    width: 20%;
    height: 100%;
    border-radius: 10px;
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    
}
.number p{
    margin-left: 20px;
    margin-top: 8px;
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 0.3rem;
}
.num1{
    background-color: #929DFF;
}
.num2{
    background-color: #734CF2;
}
.num3{
    background-color: #D288FF;
}
.num4{
background-color: #000000;
}


.section3{
    width: 83rem;
    height: 30rem;
    background-color: #483EFF;
    display: flex;
    margin:4.3rem auto ;
    border-radius: 10px;
}
.S3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 90%;
    margin: auto;

    

}
.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20%;
    border-radius: 10px;

    font-family: DM Sans;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0.05rem;
}
.info{
    width: 70%;
    height: 90%;
    background-color: var(--textColor);
    margin: auto;
    border-radius: 10px;
    position: relative;
}
h3{
    margin: 50px 0 20px 2.5rem;

    font-family: Inter;
    font-size: 2rem;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.105em;


}
.information{
    display: flex;
    gap: 10px;
    margin: 20px 0 10px 4.5rem;

    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.05em;
   
}
.tabText1{    
    background-color:#BCE0F6 ;
    color: black;
}
.tabText2{
    color: var(--textColor);
    border: 4px solid var(--textColor);
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 8rem;
    height: 4rem;
    background-color: #000000;
    border-radius: 10px;
    border: none;
}
button p{
    color: var(--textColor);
   margin-left:15px ;
    
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.05em;
    text-align: left;


}
button p img{
    margin-left: 5px;
}